name: build-and-test
run-name: build-and-test
on: [push]
env: 
  CARGO_TERM_COLOR: always
jobs:
  build-and-test-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: cargo build
      - run: cargo test